/* statistics div */
.st{
    padding:2px;
    width: 95%;
    background:linear-gradient(90deg, #37557D 0%, #4c7094 51%, #37557D 100%);
    }
.stCard{
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);   
}